<div class="tags-container">
  <button mat-icon-button color="primary" (click)="openCreateTagModal()">
    <mat-icon>add</mat-icon>
  </button>
  <div *ngIf="error" class="error-message">{{ error }}</div>
  <div *ngIf="!error">
    <button mat-button *ngFor="let tag of tags$ | async"
            [ngStyle]="getTagStyle(tag)"
            [class.selected]="selectedTags.has(tag.id)"
            (click)="toggleTagSelection(tag.id)">
      <span *ngIf="tag.emoji" class="emoji">{{ tag.emoji }}</span> {{ tag.label }}
      <button *ngIf="isAdminMode" mat-icon-button color="primary" (click)="openUpdateTagModal(tag); $event.stopPropagation()">
        <mat-icon>settings</mat-icon>
      </button>
    </button>
    <button mat-button color="warn" (click)="resetSelections()">Réinitialiser</button>
  </div>
</div>
