<div class="columns-container">
  <div *ngFor="let column of columns" class="column" (dragover)="onDragOver($event)" (drop)="onDrop($event, column.id)">
    <h2>{{ column.label }}</h2>
    <div class="cards-container">
      <mat-card *ngFor="let card of getCardsForColumn(column.id)"
                class="card"
                draggable="true"
      (dragstart)="onDragStart($event, card)">
        <mat-card-title (click)="toggleAnswer(card)" class="clickable">{{ card.question }}</mat-card-title>
        <mat-card-content>
          <p>{{ card.description }}</p>
          <p *ngIf="card.showAnswer" class="answer">{{ card.answer }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
